doctype html
html
	head
		link(rel="stylesheet", href="../css/styles.css", type="text/css")
		h1 Enter the title of your page
	body
		form(method= 'get', action= '/newArticleToDB')
			input(type="text" name="title")
			input(type="submit" value="Submit")