doctype html
html
	head
		link(rel="stylesheet", href="../css/styles.css", type="text/css")
		title JavaScript Workshop Wiki
	body
		h1 Advanced JavaScript Workshop - Wiki
		form(action="/", method="get")
			input(type="text" name="question")
			input(type="submit" value="Search")
		ul
			if pages.length > 0
				each page in pages
					li: a(href=page.link)= page.title
			else
				h3 NO PAGES FOUND
		
		button(onclick="window.location.href='/newarticle'") Add new Article
